extends ../_layout.jade
block content
  .onLoggedOut
    h1 Login
    form
      input(type="email", placeholder="email", required)
      input(type="password", placeholder="password", required)
      input.doRegister(type="button", value="Register")
      input(type="submit", value="Login")
      input.doResetPassword(type="button", value="Reset Password")
  .onTempPassword.hidden
    h1 Change Password
    form
      input(type="password", placeholder="Current Password")
      input(type="password", placeholder="New Password")
      input(type="submit", value="Change Password")
  .onLoggedIn.hidden
    h1 Hello
    button.doLogout Logout
    hr
    h2 Search Flix
    form
      input.url(type="text", placeholder="movie title")
      input(type="submit", value="Add Movie")
    hr
    h2 Movies
    .favFotos
      table
        tr
